.peer-img {
    width: 80px; 
    height: 80px; 
    border-radius: 50%;
    object-fit: cover
}


.project {
    width:350px;
    min-height: 400px;
    object-fit: cover;
    overflow: hidden;
   
   
}

.project-img {
    width:350px;
    min-height: 400px;
    object-fit: cover;
   
}

.projects {
    display: flex;
    justify-content:space-between;
    align-items: center;
}
